.card {
  border-radius: 7px;
  font-weight: bold;

  .card-body {
    padding: 10px 30px;
  }

  .title {
    font-size: 21px;
    font-weight: bold;
    text-align: left;
  }

  .sumAndBalance {
    font-size: 27px;

    p {
      font-size: 18px;
      margin-bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: -10px;
      white-space: nowrap;

      span {
        margin-right: 5px;
        font-size: 25px;
      }
    }
  }

  .categoryAndDate {
    font-size: 21px;

    text-align: right;
    display: flex;
    flex-direction: column;

    p {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-bottom: 0;
      white-space: nowrap;

      span {
        font-size: 25px;
        margin-right: 5px;
      }
    }

    .date {
      font-size: 14px;
    }
  }

  &.profit {
    background-color: rgba(191, 244, 200, 0.33);
    border: 4px solid #5A9C64;
    color: #457C4E;

    .sumAndBalance {
      & > span:before {
        content: '+';
        margin-right: 5px;
      }
    }
  }

  &.expense {
    background-color: rgba(244, 191, 191, 0.33);
    border: 4px solid #9A5454;
    color: #9A5454;


    .sumAndBalance {
      & > span:before {
        content: '-';
        margin-right: 5px;
      }
    }
  }

  &.exchange {
    background-color: rgba(157, 176, 199, 0.33);
    border: 4px solid #4F566D;
    color: #4F566D;

    .exchangeSign {
      margin: 0 15px;
    }

    .sumAndBalance {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 25px;

      p {
        font-size: 21px;
        margin-top: 0;
        margin-bottom: -10px;
      }

      .from {
        text-align: right;
      }

      .to {
        text-align: left;

        p span {
          margin-left: 5px;
          margin-right: 0;
        }
      }
    }

    .categoryAndDate {
      .date {
        font-size: 21px;
      }
    }
  }
}


@media (max-width: 1200px) {
  .card.w-75 {
    width: 100% !important;
  }
}

@media (max-width: 576px) {
  .card {
    .card-body {
      padding: 10px;
    }

    .title {
      font-size: 14px;
    }

    .sumAndBalance {
      font-size: 15px;

      p {
        font-size: 13px;
        margin-top: -5px;

        span {
          font-size: 15px;
        }
      }
    }

    .categoryAndDate {
      font-size: 12px;

      p span {
        font-size: 12px;
      }

      .date {
        font-size: 10px;
      }
    }

    &.exchange {
      .sumAndBalance {
        font-size: 15px;

        p {
          font-size: 13px;
        }
      }

      .categoryAndDate .date {
        font-size: 14px;
      }
    }
  }
}
