.customDropdown {
  button {
    border: 1px solid #ced4da;
    background-color: transparent;
    color: #212529;

    &:active, &:hover{
      background-color: transparent;
      border: 1px solid #ced4da;
      box-shadow: 0 0 0 0.25rem rgba(255, 193, 7, .5);
    }
  }
}
