.statisticsListItem.card {
  border-radius: 7px !important;
  font-weight: 500;
  border: 3px solid #000!important;
  font-size: 18px;

  .card-body {
    padding: 10px 30px;

    .row {
      align-items: center;
    }
  }

  .title {
    font-size: 19px;
    text-align: center;
    font-weight: 600;
  }
}


@media (max-width: 1200px) {
  .card .title{
    order: -1;
    margin-bottom: 15px;
  }
}

@media (max-width: 576px) {
  .card {
    font-size: 15px;

    .card-body {
      padding: 10px;
    }

    .title {
      font-size: 16px;
    }
  }
}
