@import '/src/App';

.dropdownMenu {
  user-select: none;
  text-align: right;
  position: relative;
  width: 100%;

  &.circle .menuTogglerContainer {
    padding: 0 15px;

    span {
      width: 5px;
      height: 5px;
      border-radius: 50%;

      &:before, &:after {
        width: 5px;
        height: 5px;
        border-radius: 50%;
      }
    }
  }

  .menuTogglerContainer {
    display: inline-flex;
    cursor: pointer;
    height: 30px;
    align-items: center;

    span {
      width: 30px;
      height: 3px;
      background-color: $yellow;
      display: block;
      position: relative;
      transition: .3s;

      &.black {
        background-color: #212529;
      }

      &:before, &:after {
        content: "";
        width: 30px;
        height: 3px;
        background-color: inherit;
        position: absolute;
        display: block;
        transition: inherit;
      }

      &:before {
        top: -8px;
      }

      &:after {
        top: 8px;
      }

      &.open {
        background-color: transparent;

        &:before {
          top: 0;
          transform: rotate(45deg);
        }

        &:after {
          transform: rotate(-45deg);
          top: 0;
        }
      }
    }
  }
}

