@import '/src/App';

header {
  background: #30333C;
  padding: 20px 0;

  @media (max-width: 1200px) {
    padding: 15px 0;
  }

  .logo {
    img {
      max-width: 30px;
      margin-right: 5px;
    }

    a {
      align-items: center;
      display: flex;
      color: $yellow;
      font-weight: bold;
      text-decoration: none;
    }
  }

  .menu {
    @media (max-width: 480px) {
      position: fixed;
      bottom: 0;
      z-index: 1;
      background: #30333C;
      left: 0;
      height: 50px;
      align-items: center;
      display: flex;
      justify-content: center;
    }

    ul {
      display: flex;
      list-style: none;

      @media(max-width: 1000px) {
        font-size: 12px;
      }

      @media (max-width: 768px) {
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 10px !important;
        padding-bottom: 10px !important;
      }

      @media (max-width: 480px) {
        margin-top: 0 !important;
        padding-bottom: 0 !important;
        justify-content: space-between;
        width: 80%;
      }

      @media(max-width: 480px) {
        font-size: 10px;
      }
    }


    li {
      margin-right: 15px;
    }

    a {
      color: #fff;
      text-decoration: none;
      font-weight: bold;
      position: relative;
      transition: .5s;

      &:after {
        content: "";
        width: 0;
        height: 2px;
        background-color: $yellow;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        bottom: -10px;
        opacity: 0;
        transition: inherit;
        border-radius: 0.25rem;
      }

      &.active, &:hover {
        color: $yellow;

        &:after {
          width: 65%;
          opacity: 1;
        }
      }

      @media (max-width: 480px) {
        display: flex;
        flex-direction: column;
        align-items: center;

        svg {
          fill: #fff;
          height: 20px;
          width: 20px;
          transition: .5s;
        }

        &.active, &:hover {
          svg {
            fill: $yellow;
          }
        }

        &:after {
          display: none;
        }
      }

      @media (min-width: 480px) {
        svg {
          display: none;
        }
      }
    }
  }
}

.dropdown-item {
  cursor: pointer;

  &:active {
    background-color: rgba(255, 255, 255, .15) !important;
  }
}

.dropdown.show .menuTogglerContainer span {
  transform: rotate(45deg);

  &:before {
    opacity: 0;
  }

  &:after {
    top: 0;
    transform: rotate(-90deg);
  }
}
