.category-card-body-content {
  padding: 10px !important;

  >div:first-child {
    padding-right: 5px;
  }

  .category-card-body-title {
    margin-bottom: 0;
    font-size: 15px;
    font-weight: 500;
  }

  .category-card-body-type {
    margin-bottom: 0;
    font-size: 13px;
    font-weight: 500;
    font-style: italic;

    @media (max-width: 1024px) {
      font-size: 12px;
    }

  }

  .category-action-button {
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
