/*creating color variables*/
$yellow: #F3C709;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}

body {
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
}

.yellowText {
  color: $yellow;
}

.form-control:focus, .form-select:focus {
  border-color: $yellow !important;
  box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5) !important;
}

.form-check-input:checked {
  background-color: $yellow !important;
  border-color: $yellow !important;
}

.form-check-input:focus {
  box-shadow: none !important;
}

.w300Px {
  max-width: 300px;
  width: 100%;
}

.languagesController {
  background-color: transparent !important;

  span {
    cursor: pointer;
    transition: .3s;
    opacity: .7;

    &:hover, &.activeLang {
      opacity: 1;
    }
  }
}

.cursor-pointer {
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.overflow-y-visible {
  overflow-y: visible !important;
}

.white-space-nowrap {
  white-space: nowrap;
}

.form-control[readonly] {
  background-color: #fff !important;
}

@media (max-width: 480px) {
  .Toastify__toast-container {
    max-width: 350px;
    right: 0;
    margin: auto;
    top: 1em;
  }
}
